<h1>{{title}}</h1>
<h2>Routes</h2>
<ul>
    <li><span>GET '/'</span><span> - main back-end page</span></li>
    <li><span>GET '/comments'</span><span> - get all comments from MongoDB</span></li>
    <li><span>POST '/comments'</span><span> - set one new comment to MongoDB</span></li>
    <li><span>PATCH '/comments'</span><span> - update one comment by id in MongoDB</span></li>
    <li><span>DELETE '/comments'</span><span> - remove one comment by id from MongoDB</span></li>
</ul>