<h1>{{title}}</h1>
<h2>Routes</h2>
<ul>
    <li><a href="/comments">GET '/api/comments'</a><span> - get all comments from MongoDB</span></li>
    <li><span>GET '/api/comments/:id'</span><span> - get comment by id from MongoDB</span></li>
    <li><span>POST '/api/comments'</span><span> - set one new comment to MongoDB</span></li>
    <li><span>PATCH '/api/comments/:id'</span><span> - update one comment by id in MongoDB</span></li>
    <li><span>DELETE '/api/comments/:id'</span><span> - remove one comment by id from MongoDB</span></li>
</ul>